/2016-09-05_testConfiguration_01.csv
/2016-09-05_testConfiguration_01_vowel,wine,iris,glass.xlsx
/2016-09-08_testConfiguration_01_BIRCH.xlsx
/2016-09-09_testConfiguration_01_a1,s1,s2.xlsx
/2016-09-09_testConfiguration_01_Klaster1-4.xlsx
/all settings.txt
/processedConfiguration.csv
/test_all_options.xlsx
